# Ambiente virtual
venv/

# PyInstaller output
build/
dist/

# Ficheiros temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache do VS Code
.vscode/
*.code-workspace

# Sistema operativo (Windows)
Thumbs.db
.DS_Store

# Outros
.env
*.log
